@import "tailwindcss";  


/*
Na ilha das cores usam-se estas:
Cores principais,
  Azul escuro (Primária): #003366
  Branco (Texto em fundo escuro): #FFFFFF
  Cinza claro (Fundo neutro): #F5F5F5
Cores de destaque,
  Laranja acessível (Chamadas para ação): #F58025
  Verde escuro (Sucesso): #007E33
  Vermelho escuro (Erro): #CC0000
Cores secundárias (para variedade, sempre verificar contraste),
  Roxo escuro: #4B0082
  Amarelo queimado (Alerta, evitar como texto): #FFD700
*/

@theme {
  --color-background: #F1DEDC;
  --color-background-2: #e3bac6;
  --color-background-3: #BC9EC1;
  --color-background-4: #596475;
  --color-background-5: #1F2232;
  --color-textColor: #000;
  --color-hightlight: #F5F5F5;
  --color-primary: #ab96fc;
  --color-success: #007E33;
  --color-fail: #CC0000;
  --color-primary-2: #9FB3DF;
  --color-primary-3: #9EC6F3;
}

:root {
  font-family: 'Open-Dyslexic', sans-serif;
}

